.Footer{
    background-color: var(--footer);
    padding: 1rem 0 2rem 0;
}
.FooterTitulo{
    color: var(--primary);
    font-weight: bold;
}
.FooterContenedor{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 1.2rem;
    margin-top: 1rem;
    gap: 1rem;
    padding: 1rem;
}
/* @media (max-width: 768px){
    .FooterContenedor{
        grid-template-columns: 45% 25% 25%;
    }
} */
@media (max-width: 428px){
    .FooterContenedor{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.contenedorDos{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: .5rem;
}
@media (max-width: 428px){
    .contenedorDos{
        gap: .8rem;
    }
}
.FooterContenedorContacto{
    display: flex;
    flex-direction: column;
}

.FooterContenedorContacto a{
    color: var(--primary);
    font-size: var(--parrafo);
    padding-bottom: .5rem;
}
.FooterContenedorContacto span{
    color: white;
}
.FooterContenedorContacto strong {
    color: var(--primary);
}
.FooterContenedorSecciones{
    display: flex;
    flex-direction: column;
}
@media (max-width: 428px){
    .FooterContenedorSecciones{
        gap: .5rem;
    }
}
.FooterContenedorSecciones a{
    color: var(--primary);
    font-size: var(--parrafo2);
}
.FooterContenedorSecciones span{
    color: white;
}