:root {
  --primary: #716cfd;
  --secundary: #646397;
  --negro: #474747;
  --blanco: #f3f3f3;
  --fondo: #ffffff;
  --footer: #1e1e44;
  --fuente-principal: 'Outfit', sans-serif;
  --titulo: 1.688rem;
  --titulo2: 1.0032rem;
}
html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
[class*="separacion"]{
  padding: 2rem
}
[class*="tituloT"]{
  font-size: var(--titulo)!important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;