.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
/* ================ INDEX SECTION ================ */
.InicioImagen{
  background-image: url(/como-funcionabg.webp);
  background-size: 114%;
  background-repeat: no-repeat;
  background-position: 0rem -30rem;
  height: 510px;
  width: 100%;
}
@media (max-width: 1024px){
  .InicioImagen{
    /* background-size: 155%; */
    background-position: -0rem -18rem;
  }
}
@media (max-width: 768px){
  .InicioImagen{
    background-size: 155%;
    background-position: -5rem -19rem;
    /* height: 350px; */
  }
}
@media (max-width: 428px){
  .InicioImagen{
    background-size: 155%;
    background-position: -4rem 1rem;
    background-size: 165%;
  }
}
.InicioHeadGrdiContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 3px solid green; */
  align-items: center;
  height: 90%;
}
.InicioGridText h2{
  color: var(--secundary);
  font-weight: bold;
  font-size: 1.8rem;
  width: 65%;
}
.InicioGridText{
  /* border: 1px solid red; */
  font-size: 1rem;
  margin: 0 auto;
}
@media (max-width: 768px){
  .InicioGridText{
    margin-left: 2rem;
  }
}
.BtnContacto{
  display: flex;
  gap: 1rem;
}
@media (max-width: 428px){
  .BtnContacto{
    flex-direction: column;
    gap: .5rem;
  }
}
.BtnContactoBtn{
  background-color: transparent;
  border: 3px solid var(--primary);
  padding: .5rem 2rem;
  border-radius: 1rem;
  transition: .3s all;
  font-size: 1rem;
  cursor: pointer;
}
@media (max-width: 768px){
  .BtnContactoBtn{
    font-size: .7rem;
  }
}
@media (max-width: 428px){
  .BtnContactoBtn{
    font-size: .75rem;
    text-align: center;
  }
}
.BtnContactoBtn:hover{
  background-color: var(--primary);
  color: white;
}
.inicioUnobtns{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.bordeBtnInicio{
  background-color: transparent;
  border: 3px solid var(--primary);
  padding: .3rem 2rem;
  border-radius: .8rem;
  transition: .3s all;
}
.btninicio{
  font-size: 1rem;
  cursor: pointer;
}
.btninicio:hover{
  color: var(--primary);
}
.QuienesSomosContenedor{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
}
@media (max-width: 768px){
  .QuienesSomosContenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
  }
}
.QuieneSomosImagen{
  /* border: 1px solid red; */
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 768px){
  .QuieneSomosImagen{
    height: 350px;
  }
}
.InicioTresContenedor{
  display: grid;
  grid-template-columns: 60% 35%;
  gap: 1rem;
  border-top: 2px solid grey;
  border-bottom: 2px solid gray;
}
@media (max-width: 768px){
  .InicioTresContenedor{
    grid-template-columns: 1fr;
    grid-template-rows: 60% 35%;
  }
}
.inicioTresTexto{
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.inicioTresTexto h3{
  color: var(--secundary);
  font-weight: bold;
}
@media (max-width: 428px){
  .inicioTresTexto h3{
    text-align: center;
    width: 100%;
  }
}
.inicioTresTexto h4{
  color: var(--secundary);
  font-weight: bold;
}
@media (max-width: 428px){
  .inicioTresTexto h4{
    text-align: center;
    width: 100%;
  }
}
.inicioTresTexto p{
  font-size: 1.5rem;
  width: 90%;
}
@media (max-width: 428px){
  .inicioTresTexto p{
    margin-top: 1.5rem;
    text-align: center;
    width: 100%;
  }
}
.Comentarios{
  overflow: hidden;
  border-radius: .8rem;
  height: 300px;
  /* border: 1px solid red; */
  -webkit-box-shadow: -7px 9px 5px -3px rgba(0,0,0,0.75);
-moz-box-shadow: -7px 9px 5px -3px rgba(0,0,0,0.75);
box-shadow: -7px 9px 5px -3px rgba(0,0,0,0.75);
}
@media (max-width: 428px){
  .Comentarios{
    height: 255px;
  }
}
.ComentariosImg{
  background-image: url(/img/comentario-maps.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
@media (max-width: 428px){
  .ComentariosImg{
    background-size: 108%;
    /* height: 270px; */
  }
}
/* ================== INICIO QUIENES SOMOS SECTION */
.QuienesSomosImg{
  background-image: url(/img/Quienes-Somos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0rem -6rem; */
  height: 100%;
  width: 100%;
}
@media (max-width: 1024px){
  .QuienesSomosImg{
    background-position: -11rem 0rem;
    object-fit: fill;
    /* background-size: 100%; */
  }
}
@media (max-width: 768px){
  .QuienesSomosImg{
    background-position: 0rem -2rem;
    /* height: 350px; */
  }
}
.QuienesSomosTexto{
  width: 90%;
}
@media (max-width: 768px){
  .QuienesSomosTexto{
    width: 98%;
  }
}
.QuienesSomosTexto h3{
  color: var(--secundary);
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 768px){
  .QuienesSomosTexto h3{
    text-align: center;
  }
}
.QuienesSomosTexto p{
  text-align: justify;
  font-size: 1.5rem;
}
.QuienesSomosTexto a{
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}
/* COMO FUNCIONA  */
.ComoFuncionaImg{
  background-image: url(/img/como-funciona-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0rem -6rem; */
  height: 100%;
  width: 100%;
}
@media (max-width: 1024px){
  .ComoFuncionaImg{
    background-position: -11rem 0rem;
    object-fit: fill;
    /* background-size: 100%; */
  }
}
@media (max-width: 768px){
  .ComoFuncionaImg{
    background-position: 0rem -2rem;
    /* height: 350px; */
  }
}
/* ============== SECCION CONOCENOS ============== */
.conocenosImage{
  background-image: url(/Conocenos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0rem -6rem;
  height: 510px;
  width: 100%;
}
@media (max-width: 768px){
  .conocenosImage{
    /* background-position: -7rem 0rem; */
    height: 350px;
  }
}
@media (max-width: 428px){
  .conocenosImage{
    background-position: -7rem 0rem;
    height: 350px;
  }
}
.quienes{
  border: 2px solid var(--primary);
  border-radius: 1rem;
  width: 25%;
  text-align: center;
}
@media (max-width: 428px){
  .quienes{
    font-size: 1.2rem;
    width: 45%;
  }
}
.seccionUno{
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 2rem;
}
.seccionUno p{
  font-size: 1.5rem;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 768px){
  .seccionUno{
    grid-template-columns: 30% 70%;
    
  }
}
@media (max-width: 428px){
  .seccionUno{
    grid-template-columns: 1fr;
    grid-template-rows: 150px 500px;
    gap: .5rem;
    margin-top: 1rem;
  }
}
.imagenCurita{
  background-image: url(/img/curita.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95%;
  width: 49%;
  margin: 0 auto; 
}

@media (max-width: 1024px){
  .imagenCurita{
    height: 57%;
    width: 64%;
  }
}
@media (max-width: 768px){
  .imagenCurita{
    height: 32%;
    width: 48%;
  }
}
@media (max-width: 428px){
  .imagenCurita{
    margin: 0 auto;
    height: 80%;
    width: 30%;
  }
}
.filosofiaContenedor{
  background-color: var(--blanco);
}
.filosofia{
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem;
  padding: 2rem 0rem;
}
@media (max-width: 428px){
  .filosofia{
    grid-template-columns: 1fr;
    grid-template-rows: 400px 150px;
  }
}
.filosofia p{
  font-size: 1.5rem;
  text-align: justify;
  width: 95%;
  margin: 0 auto;
}
.imagenLibreta{
  background-image: url(/img/libreta-check.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 95%;
  width: 33%;
  margin: 0 auto; 
}
@media (max-width: 1024px){
  .imagenLibreta{
    height: 76%;
    width: 64%;
  }
}
@media (max-width: 768px){
  .imagenLibreta{
    height: 50%;
    width: 62%;
  }
}
@media (max-width: 428px){
  .imagenLibreta{
    height: 97%;
    width: 33%;
  }
}
.corazon{
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
  background-image: url(/img/Circulo.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 65rem center;
}
@media (max-width: 428px){
  .corazon{
    grid-template-columns: 1fr;
    grid-template-rows: 20% 95%;
  }
}
.imagenCorazon{
  background-image: url(/img/corazon.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55%;
  width: 57%;
  margin: 0 auto; 
}
@media (max-width: 1024px){
  .imagenCorazon{
    height: 32%;
    width: 57%;
  }
}
@media (max-width: 768px){
  .imagenCorazon{
    height: 20%;
    width: 57%;
  }
}
@media (max-width: 428px){
  .imagenCorazon{
    height: 160px;
    width: 200px;
  }
}

.corazonTexto h3{
  color: var(--secundary);
  font-weight: bold;
}
@media (max-width: 428px){
  .corazonTexto h3{
    text-align: center;
  }
}
.corazonTexto ul{
  width: 95%;
  margin: 0 auto;
}
.corazonTexto ul > li{
  font-size: 1.5rem;
}
@media (max-width: 428px){
  .corazonTexto ul > li{
    margin: 0 auto;
    text-align: center;
    line-height: 28pt;
  }
}
.MisionVision{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1rem;
  margin-top: 2rem;
}
@media (max-width: 428px){
  .MisionVision{
    grid-template-columns: 1fr;
    grid-template-rows: 55% 35%;
    gap: 1.2rem;
  }
}
.MisionTextoTitulo{
  display: flex;
  align-items: baseline;
  gap: 2rem;
  
}
.MisionTextoTitulo h2{
  color: var(--secundary);
}
@media (max-width: 428px){
  .MisionTextoTitulo h2{
    margin: 0 0rem 0 1rem;
    gap: 1rem;
  }
}
.imagenMontana{
  background-image: url(/img/montana.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px; 
}
.MisionTexto p{
  font-size: 1.3rem;
  width: 90%;
  margin-bottom: 1rem;
}
@media (max-width: 428px){
  .MisionTexto p{
    margin: 0 auto;
    text-align: justify;
  }
}
.imagenOjo{
  background-image: url(/img/ojo.webp);
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px; 
}
.VisionTextoTitulo{
  display: flex;
  gap: 2rem;
}
.VisionTextoTitulo h2{
  color: var(--secundary);
}
@media (max-width: 428px){
  .VisionTextoTitulo h2{
    margin: 0 0rem 0 1rem;
    gap: 1rem;
  }
}
.MisionVisionValores h3{
  color: var(--secundary);
  font-size: 2rem;
}
.MisionVisionValores{
  font-size: 1.5rem;
  padding-left: 1rem;
  border-left: 4px solid var(--negro);
}
@media (max-width: 428px){
  .MisionVisionValores{
    border: none;
    padding-left: 0;
    margin: 0 auto;
    padding-top: 1rem;
  }
}
.BgLesion{
  background-image: url(/img/BannerInferior2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 23rem;
}
@media (max-width: 1024px){
  .BgLesion{
    background-position: -13rem 0rem;
  }
}
@media (max-width: 768px){
  .BgLesion{
    background-position: -39rem 0rem;
    height: 26rem;
  }
}
@media (max-width: 428px){
  .BgLesion{
    background-position: -49rem 0rem;
    height: 40rem;
  }
}
.seccionLesiones{
  padding-top: 1rem;
  padding-left: 2rem;
}
.LesionTitulo h1{
  color: #fafafa;
  font-size: 2.6rem;
  font-weight: bold;
  width: 60%;
}
.LesionTitulo strong{
  color: var(--primary);
}
.LesionListado{
  margin-top: 1rem;
}
.LesionLista{
  color: var(--primary);
  font-size: 1.5rem;
}
.LesionLista span{
  color: #fafafa;
}

